<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul id="messages"></ul>
        <input id="m"/> <button onClick="send()">Send</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var socket = io();

        var send = function(){
            var text = document.getElementById('m').value;
            socket.emit('chat message', text);
        };
        
        var receive = function(msg){
            var li = document.createElement('li');
            li.innerText = msg;
            document.getElementById('messages').appendChild(li);    
        };

        socket.on('chat message', receive);
    </script>
</body>
</html>